.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1200px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
